# Środowisko wirtualne Python
venv/
env/
__pycache__/
*.pyc

# Pliki bazy danych SQLite
*.db

# Pliki logów
*.log

# Pliki konfiguracji środowiska
.env

# Foldery cache
__pycache__/
.cache/

# Inne
.DS_Store

