DISCORD_CLIENT_ID=1431635250605199520
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=http://127.0.0.1:8008/auth/callback
FRONTEND_REDIRECT_URL=http://127.0.0.1:8008
DATABASE_URL=sqlite:///./data/database.db
FRONTEND_REDIRECT_URL=http://127.0.0.1:8008/auth/getuser
FIRST_ADMIN_DISCORD_ID=321309474667233284
