<!DOCTYPE html>
<html>
<head><title>Dodaj seans</title>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>
<h2>Dodaj nowy seans</h2>
{% if msg %}<p style="color:red;">{{ msg }}</p>{% endif %}
<form action="/add_seans" method="post">
  <input type="text" name="tytul" placeholder="Tytuł filmu" required><br>
  <input type="text" name="link" placeholder="Link do IMDb" required><br>
  <input type="text" name="pokoj" placeholder="Pokój seansu" required><br>
  <input name="data" type="datetime-local" required><br>
  <button type="submit">Dodaj</button>
</form>
<p><a href="/">Wróć</a></p>
</body>
</html>
